<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }} · {{ site.title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description or site.description }}">
    <meta name="referrer" content="no-referrer-when-downgrade">

    <meta property="og:title" content="{{ title or site.name }}" />
    <meta property="og:type" content="{{ type or site.type }}" />
    <meta property="og:url" content="{{ url or site.url }}" />
    <meta property="og:image" content="{{ image or site.image }}" />
    <meta property="og:site_name" content="{{ name or site.name }}" />
    <meta property="og:description" content="{{ description or site.description }}" />

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="{{ '/assets/scss/main.scss' | url }}">
    <meta name="theme-color" content="{{ themeColor or site.themeColor }}">
    <link as="font" crossorigin="anonymous" href="/assets/fonts/gilroy/gilroy-extrabold-webfont.woff2" rel="preload">
    <link as="font" crossorigin="anonymous" href="/assets/fonts/silka/silka-regular-webfont.woff2" rel="preload">
</head>
<body class="theme-color{% if projectSlug %} theme-color--{{ projectSlug }}{% endif %}">

<main>
    {{ content | safe }}
</main>

{% include 'footer.njk' %}

<script async defer type="module" src="{{ '/assets/scripts/index.js' | url }}"></script>
</body>
</html>
