<footer class="footer">
    <div class="container container--narrow footer__content">
        {% image { src: "marple.png", alt: "Miss Marple is a Cockerdoodle", class: "footer__marple-image", sizeType: "marple" } %}

        <ul class="footer__items">
            <li class="footer__item"><a class="footer__link" href="/privacy/"><span>Datenschutz</span></a></li>
            <li class="footer__item"><a class="footer__link" href="/imprint/"><span>Impressum</span></a></li>
        </ul>
    </div>
</footer>
