---
layout: base_layout
---

<div class="legal">
    <div class="container container--narrow container--vertical">
        {% include "home_back.njk" %}

        {{ content | safe }}
    </div>
</div>
