---
layout: base_layout
---

<div class="project-intro">
    {% image { src: "projects/"~projectSlug~".png", alt: title, class: "project-intro__image", sizeType: "projectsMockup" } %}
    <h1 class="project-intro__heading">{{ title }}</h1>
</div>

<div class="container container--narrow container--vertical">
    {{ content | safe }}

    <div class="project-details">
        {% include 'technologies.njk' %}

        {% if projectAttribution %}
            <div class="project-attribution">
                <div class="project-attribution__label">Ein Projekt von</div>

                {% if projectAttribution == 'trafficon' %}
                    <a href="https://www.trafficon.eu/">
                        <img class="project-attribution__image" alt="Trafficon"
                             src="/assets/images/projects/trafficon.svg" />
                    </a>
                {% endif %}

                {% if projectAttribution == 'pooliestudios' %}
                    <a href="https://pooliestudios.com/">
                        <img class="project-attribution__image" alt="pooliestudios"
                             src="/assets/images/projects/pooliestudios.svg" />
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <div class="project-back">
        <a href="/#projekte" class="project-back__link">‹ Zu den anderen <span>Projekten</span></a>
    </div>
</div>




