<address>
    <strong>Kilian Finger</strong><br />
    Gorianstraße 6<br />
    5020 Salzburg<br />
    Austria<br />
    <br>
    <a href="mailto:hey@kilianfinger.com">hey@kilianfinger.com</a>

    {% if includeVatId %}
        <br /><br />
        VAT-ID: AT U77 061 108
    {% endif %}
</address>
