<ul class="tags {{ tagsClass }}">
  {% for tag in displayTags %}
    <li class="tags__item{% if tag.type is defined %}{{ " tags__item--topic" }}{% endif %}">
      {%- if tag.link -%}
        <a class="tags__link" href="{{ tag.link }}">{{ tag.name }}</a>
      {%- else -%}
        {{ tag.name }}{% if tag.type is defined %}:{% endif %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
