$rfs-breakpoint: 1920px;

:root {
  --yellow: #f7cb15;
  --red: #ff5851;
  --blue-black: #202c39;
  --blueish-white: #f6f8ff;

  --container-max-width: 1400px;

  --project-radlkarte: #00aeea;
  --project-cologne-marathon: #d53741;
  --project-flexpowerhub: #79ca32;
}
