h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gilroy', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

h1,
.h1 {
  @include font-size(4rem);

  @media only screen and (min-width: 664px) {
    @include font-size(6rem);
  }
}

h2,
.h2 {
  @include font-size(3rem);

  @media only screen and (min-width: 664px) {
    @include font-size(4rem);
  }
}

h3,
.h3 {
  @include font-size(2rem);
}
