h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gilroy', sans-serif;
  font-weight: 900;
  text-transform: uppercase;

  code {
    text-transform: none;
  }
}

h1,
.h1 {
  @include font-size(4rem);
}

h2,
.h2 {
  @include font-size(3rem);
}

h3,
.h3 {
  @include font-size(2rem);
}
