.boxed {
  @include rfs(4rem, padding-top);
  @include rfs(4rem, padding-bottom);
  @include rfs(2rem, border-width);
  border-style: solid;
  border-color: white;
  background-color: var(--blueish-white);
  display: flex;
  position: relative;
  z-index: 1;
  border-top-width: 0;

  @media only screen and (min-width: 664px) {
    @include rfs(8rem, padding-top);
    @include rfs(8rem, padding-bottom);
  }
}
