.list {
  @include padding-left(2rem);
  @include margin-bottom(1rem);

  @media only screen and (min-width: 664px) {
    @include margin-bottom(2rem);
  }

  &__item {
    @include margin-bottom(1rem);

  }

  &--resume {
    margin-top: 0;
    margin-bottom: 0;

    .list__item {
      margin-bottom: 0;

      &:not(:last-child) {
        @include margin-bottom(0.5rem);
      }
    }

    .list {
      @include margin-top(0.5rem);
    }
  }
}
