.monodraw {
  &__pre {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__scroll-container {
    display: block;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  &__code {
    @include font-size(1rem);
    font-family:
      'JetBrains Mono',
      Menlo,
      Monaco,
      Consolas,
      Courier New,
      monospace;
    white-space: pre;
  }
}
