.posts-list {
  list-style: none;
  padding: 0;

  &__item {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    @include padding(2rem);

    @media only screen and (min-width: 664px) {
      @include padding(4rem);
    }

    &:focus-within,
    &:hover {
      .posts-list__link::before {
        @include rfs(0.5rem, border-width);
        border-style: solid;
        border-color: var(--yellow);
      }
    }
  }

  &__link {
    &:focus {
      outline: none;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
    }
  }
}
