.project-intro {
  @include padding(4rem);
  @include padding(4rem);
  background-color: var(--theme-color);
  color: var(--theme-color-text);


  &__image {
    @include margin-bottom(2rem);
    display: block;
    width: 100%;
    object-fit: contain;

    @media screen and (orientation: landscape) {
      height: 60vh;
    }

    @media screen and (orientation: portrait) {
      height: 40vh;
    }
  }

  &__heading {
    text-align: center;
  }
}
