.project-attribution {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include rfs(1rem, gap);
  text-align: center;
  @include font-size(1rem);

  @media only screen and (max-width: 663px) {
    @include margin-top(2rem);
    width: auto;
  }

  &__employer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include rfs(0.5rem, gap);
  }

  &__employer-label {
    white-space: nowrap;
  }

  &__employer-link {
    display: inline-flex;
  }

  &__employer-image {
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  &__info-link {
    @include underline-dotted(var(--yellow), true);
  }
}
