.theme-color {
  --theme-color: var(--red);

  &--radlkarte-salzburg {
    --theme-color: var(--project-radlkarte);
  }

  &--cologne-marathon {
    --theme-color: var(--project-cologne-marathon);
  }

  &--flexpowerhub {
    --theme-color: var(--project-flexpowerhub);
  }
}
