.project-attribution {
  text-align: center;
  @include font-size(1rem);

  @media only screen and (max-width: 663px) {
    @include margin-top(2rem);
    width: auto;
  }

  &__label {
    @include margin-bottom(0.5rem);
    white-space: nowrap;
  }

  &__link {
    display: block;
  }

  &__image {
    display: inline-block;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  &__info-link {
    @include underline-dotted(var(--yellow), true);
    @include margin-top(1rem);
    display: inline-block;
  }
}
