.project {
  &--radlkarte {
    --project-color: var(--project-radlkarte);
  }

  &--koeln-marathon {
    --project-color: var(--project-koeln-marathon);
  }

  &--flexpowerhub {
    --project-color: var(--project-flexpowerhub);
  }
}
