.project-back {
  @include margin-top(8rem);
  display: flex;
  justify-content: center;

  &__link {
    @include font-size(2rem);
    font-family: 'Gilroy', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    @include underline-dotted(var(--yellow), true);
  }
}
