.project-intro {
  @include padding(4rem);
  @include padding(4rem);
  background-color: var(--project-color);
  color: white;

  &__image {
    margin-left: auto;
    margin-right: auto;
    @include margin-bottom(2rem);
    display: block;
    width: auto;
    height: auto;
    max-width: 1920px;
    max-height: 75vh;
  }

  &__heading {
    text-align: center;
  }
}
