pre.shiki {
  @include padding(1rem);
  @include margin-bottom(2rem);
  overflow: auto;
}

pre.shiki code {
  @include font-size(1rem);
  font-family:
    'JetBrains Mono',
    Menlo,
    Monaco,
    Consolas,
    Courier New,
    monospace;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}
