.transitioner {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--red);
  transform-origin: right center;
  transform: scaleX(0);
  transition: transform 600ms ease;

  &.open {
    transform-origin: left center;
    transform: scaleX(1);
  }
}
