---
permalink: blog/{{ title | slugify }}/
eleventyComputed:
  metaImage:
    path: ./src/blog/posts/post.og.njk
    data:
      title: "{{ title }}"
      date: "{{ date | readableDate }}"
---
{% extends "layouts/base.njk" %}



{% block content %}
    <article class="container container--narrow container--vertical">
        <header>
            <time datetime="{{ date | htmlDate }}">{{ date | readableDate }}</time>
            <h1>{{ title }}</h1>
        </header>

        {{ content | safe }}
    </article>
{% endblock %}

{% block scripts %}{% endblock %}