---
permalink: blog/{{ title | slugify }}/
---
{% extends "layouts/base.njk" %}



{% block content %}
    <div class="container container--narrow container--vertical">

        <h1 class="h2">{{ title }}</h1>
        {{ content | safe }}
    </div>
{% endblock %}

{% block scripts %}{% endblock %}