---
layout: project_layout
title: Köln Marathon App
projectSlug: koeln-marathon
themeColor: '#d53741'
projectAttribution: pooliestudios
---

<p>
    Für den Köln Marathon 2018 wurde von Grund auf eine neue App entwickelt. Sie vereint alle Funktionen für
    Läufer*innen und Zuschauer*innen. Diese reichen vom Tracking und Herausfordern von Läufern*innen über
    personalisierte Ergebnisse und Social Media Features. Am Tag des Laufes skalierte sie erfolgreich für mehrere
    zehntausend User*innen.
</p>
