---
layout: project_layout
title: Köln Marathon App
projectSlug: koeln-marathon
themeColor: '#d53741'
projectAttribution: pooliestudios
---

<p>
    Für den Köln Marathon 2018 wurde von Grund auf eine neue App entwickelt. Sie vereint alle Funktionen für Läufer und
    Zuschauer. Diese reichen vom Tracking und herausfordern von Läufern über personalisierte Ergebnisse und Social
    Media Features. Am Tag des Laufes skaliert sie
    erfolgreich für mehrere Zehntausend User.
</p>
