<section class="boxed">
  <div class="container">
    <div class="intro">
      <div class="intro__text">
        <h1 class="intro__name">Kilian <span>Finger</span></h1>
        <h2 class="intro__title">Web Engineer</h2>
      </div>

      <div class="intro__portrait-wrapper js-intro-portrait">
        <div class="intro__portrait-canvas">
          {% image { src: "home/kilian_2.jpeg", alt: "Kilian Finger", class: "intro__portrait is-visible", sizeType: "portrait", loading: "eager", decoding: "sync" } %}
          {% image { src: "home/kilian_1.jpeg", alt: "Kilian Finger", class: "intro__portrait is-hidden", sizeType: "portrait" } %}
          {% image { src: "home/kilian_3.jpeg", alt: "Kilian Finger", class: "intro__portrait is-hidden", sizeType: "portrait" } %}
        </div>
      </div>
      <script async defer type="module" src="{{ '/assets/scripts/intro-portrait.js' | url }}"></script>
    </div>
  </div>
</section>

<section class="about">
  <div class="container container--narrow container--vertical">
    <h3 class="h2">Hey there! 👋</h3>
    <p>
      I'm Kilian 👨🏼‍💻, a web engineer based at the foot of the alps in Salzburg, Austria 🇦🇹. I got involved in developing
      websites, apps and platforms during my Bachelor Media Technology in Cologne. After three years of agency
      experience at <a href="https://web.archive.org/web/20180319141342/https://pooliestudios.com/">pooliestudios</a>, I
      proceeded with a Master in MultiMediaTechnology in Salzburg. Now, I'm trying to help you choose sustainable
      mobility options 🚲 and solve geospatial problems 🗺 at <a href="https://www.trafficon.eu/">Trafficon</a>.
    </p>
  </div>
</section>

<section class="projects" id="projects">
  <div class="container container--narrow container--vertical js-projects">
    <h2 class="underline-heading"><span>Projects</span></h2>

    <div class="projects__items">
      {% for project in projects %}
        <a href="/projects/{{ project.slug }}/" class="projects__item theme-color--{{ project.slug }}">
          <div class="projects__item-image-wrapper">
            {% image { src: "home/"~project.slug~".png", alt: project.alt, class: "projects__item-image", sizeType: "projectsCover" } %}
          </div>

          <h3 class="projects__item-heading">{{ project.title | safe }}</h3>
        </a>
      {% endfor %}
    </div>
  </div>
</section>

<section>
  <div class="container container--narrow container--vertical">
    <h2 class="underline-heading"><span>Technologies</span></h2>

    {% set tagsClass = "tags--margin-bottom" %}
    {% include 'tags.njk' %}

    <p>
      These are technologies I'm fond of ✨. I'm always open to dive into something new. But when starting on a green
      field, I will focus on these, which allow me to build resilient solutions for you 🦾.
    </p>
  </div>
</section>

<section class="contact">
  <div class="container container--narrow container--vertical">
    <h2>Contact</h2>
    <a class="contact__mail" href="mailto:hey@kilianfinger.com">hey@kilianfinger.com</a>

    <div class="contact__social-links">
      {% for social in site.socials %}
        <a class="contact__social-link" href="{{ social.url }}" rel="me">
          <img
            class="contact__social-link-icon"
            alt="{{ social.title }}"
            src="assets/icons/{{ social.title | lower }}.svg"
          />
        </a>
      {% endfor %}
    </div>
  </div>
</section>
