<style>
  .root {
    width: 100%;
    height: 100%;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 32px solid white;
    background-color: #f6f8ff;
    color: #202c39;
  }

  .title {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
  }

  .title__main {
    display: flex;
    flex-direction: column;
    font-family: 'Gilroy', sans-serif;
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  .title__sub {
    font-family: 'Silka', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 8px;
  }

  .image {
    display: flex;
    padding-right: 16px;
    padding-bottom: 16px;
    flex-shrink: 0;
    margin-right: 80px;
  }

  .image__canvas {
    display: flex;
    box-shadow:
      0 2.7px 5.3px rgba(0, 0, 0, 0.028),
      0 8.9px 17.9px rgba(0, 0, 0, 0.042),
      0 40px 80px rgba(0, 0, 0, 0.07);
    border-width: 12px;
    border-style: solid;
    border-color: white;
  }

  .image__img {
  }

  .image__offset {
    display: flex;
    position: absolute;
    top: 16px;
    right: 0;
    bottom: 0;
    left: 16px;
    background-color: #ff5851;
  }
</style>

<div class="root">
  <div class="title">
    <div class="title__sub">kilianfinger.com/{{ page.url.split("/")[1] }}/</div>
    <div class="title__main">{{ title }}</div>
    {% if date %}<div class="title__sub">{{ date }}</div>{% endif %}
  </div>

  <div class="image">
    <div class="image__offset"></div>
    <div class="image__canvas">
      <img class="image__img" width="176" height="220" src="{% inlineImage "assets/images/kilian.og.jpeg" %}" />
    </div>
  </div>
</div>
