@mixin underline-dotted($color: inherit, $span: false) {
  @if $span {
    span {
      text-decoration-line: underline;
      text-decoration-style: dotted;
      text-decoration-color: $color;
      text-decoration-thickness: 2px;
    }

    &:hover span {
      text-decoration-style: solid;
    }
  } @else {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: $color;
    text-decoration-thickness: 2px;

    &:hover {
      text-decoration-style: solid;
    }
  }
}
