.header {
  @include padding-top(2rem);
  @include padding-bottom(2rem);

  &__navigation {
    display: flex;
    justify-content: flex-end;
  }

  &__navigation-list {
    list-style: none;
    display: flex;
    @include rfs(2rem, gap);
  }

  &__navigation-link {
    @include font-size(1.5rem);
    font-family: 'Gilroy', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
  }
}