---
layout: layouts/legal
permalink: 404.html
title: Page not found
eleventyExcludeFromCollections: true
---

<section class="text-section">
  <h1 class="text-section__heading">Page not found</h1>
</section>
