---
layout: legal_layout
permalink: 404.html
title: Seite nicht gefunden
eleventyExcludeFromCollections: true
---

<section class="text-section">
  <h1 class="text-section__heading">Seite nicht gefunden</h1>
</section>
