---
layout: base_layout
permalink: 404.html
title: 404 - Page not found
description: Page not found
eleventyExcludeFromCollections: true
---

<div>
  <h1>Seite nicht gefunden</h1>
  <a href="/">Zur Startseite</a>
</div>
