---
layout: legal_layout
title: Datenschutz
---

<section class="text-section">
    <h1 class="text-section__heading">Datenschutz</h1>
    <p>Mir persönlich ist Datenschutz wichtig. Weil das nicht einfach nur eine Floskel sein soll, habe ich mich
        technisch bemüht, so wenig Daten wie möglich von dir zu erfassen und zu speichern. Die nachfolgende
        Datenschutzerklärung setzt daher mehr auf klare, verständliche Worte als Jura-Bullshit. Sollten dennoch Fragen
        offenbleiben, melde dich einfach bei mir!</p>
</section>

<section class="text-section">
    <h2 class="text-section__sub-heading">Wer ist verantwortlich für die Datenverarbeitung?</h2>
    <p>Für die Verarbeitung deiner Daten bin ich, der Betreiber dieser Website, verantwortlich:</p>

    {% include "address.njk" %}
</section>

<section class="text-section">
    <h2 class="text-section__sub-heading">Welche Daten werden von dir und ggf. Dritten verarbeitet?</h2>
    <p>Meine Website ist gehostet bei:</p>
    <p>
    <address>
        <strong>ALL-INKL.COM - Neue Medien Münnich</strong><br />
        Inhaber: René Münnich<br />
        Hauptstraße 68<br />
        02742 Friedersdorf<br />
        Deutschland
    </address>
    </p>
    <p>
        Beim Aufruf meiner Website werden deine IP-Adresse, Betriebssystem, Browser inklusive Version, angefragte URL
        und die Referrer-URL an meinen Hoster übermittelt. Dabei entstehen außerdem Metadaten wie der Zeitpunkt des
        Aufrufs, Erfolgs- oder Fehlermeldung und übertragene Datenmenge. Diese Daten liegen lediglich während der
        Verarbeitung deiner Anfrage meiner Website vor. Eine Speicherung nach Abschluss einer jeden Anfrage erfolgt
        nicht, es werden keine
        Logfiles geschrieben. Ein Besuch einer Website ohne Erhebung/Erfassung dieser Daten ist
        schlicht nicht möglich, da technische Standards diese zwingend benötigen.
    </p>
</section>

<section class="text-section">
    <h2 class="text-section__sub-heading">Warum werden meine Daten verarbeitet?</h2>
    <p>Zum einen habe ich ein berechtigtes Interesse für die Verarbeitung deiner Daten, da ich meine
        Dienstleistungen auf dieser Website anbieten und vermarkten möchte. Als Webentwickler ist für mich eine Präsenz
        im Internet unentbehrlich. Zum anderen kann es zur Erfüllung von vertraglichen Verpflichtungen notwendig
        werden.</p>
</section>

<section class="text-section">
    <h2 class="text-section__sub-heading">Welche Rechte habe ich?</h2>
    <p>Da ich personenbezogene Daten von dir beim Besuch meiner Website erhebe bzw. verarbeite, folgen daraus
        nachstehende Rechte für dich gemäß DSGVO:</p>

    <ul class="list">
        <li class="list__item">Auskunft über diese Daten (inklusive Zweck, Dauer, Herkunft usw.)</li>
        <li class="list__item">Berichtigung, falls falsche Daten vorliegen</li>
        <li class="list__item">Löschung deiner Daten</li>
        <li class="list__item">Einschränkung der Verarbeitung deiner Daten</li>
        <li class="list__item">Widerspruchsrecht gegen die Verarbeitung</li>
        <li class="list__item">Recht auf Datenübertragbarkeit</li>
    </ul>

    <p>Diese Rechte bestehen, obwohl ich deine Daten beim Besuch meiner Website zu keinem Zeitpunkt speichere, siehe
        dazu Abschnitt 2.</p>
</section>


<section class="text-section">
    <h2 class="text-section__sub-heading">Warum gibt es kein Cookie Banner?</h2>
    <p>Diese Website verwendet keine Cookies 🍪.</p>

    <button class="cookie-button js-cookies">Gib mir welche</button>
</section>
