---
layout: legal_layout
title: Privacy
---

<div class="text-section">
    <h1 class="text-section__heading">Datenschutz</h1>
    <p>Mir ist es ein persönliches Anliegen, über die Verwendung von (personenbezogenen) Daten meiner
        Nutzer*Innen aufzuklären. Dabei agiere ich stets nach dem Prinzip der Datensparsamkeit.</p>
</div>

<div class="text-section">
    <h2 class="text-section__sub-heading">Wer ist zuständig für die Datenverarbeitung?</h2>
    <p>Für die Verarbeitung deiner Daten bin ich, der Webseitenbetreiber, zuständig:</p>
    <address>
        <strong>Kilian Finger</strong><br />
        Georg-N.-v.-Nissen-Str. 6<br />
        5020 Salzburg<br />
        Österreich
    </address>
</div>

<div class="text-section">
    <h2 class="text-section__sub-heading">Warum werden meine Daten verarbeitet?</h2>
    <p>Zum einen habe ich ein berechtigtes Interesse für die Verarbeitung deiner Daten, da ich meine
        Dienstleistungen auf dieser Website anbieten und vermarkten möchte. Zum anderen kann es durch eine
        Kontaktaufnahme zur Erfüllung von vertraglichen Verpflichtungen notwendig werden.</p>
</div>

<div class="text-section">
    <h2 class="text-section__sub-heading">Welche Daten werden von dir und ggf. Dritten verarbeitet?</h2>
    <p>Meine Website ist gehostet bei:</p>
    <p>
    <address>
        <strong>ALL-INKL.COM - Neue Medien Münnich</strong><br />
        Inhaber: René Münnich<br />
        Hauptstraße 68<br />
        02742 Friedersdorf<br />
        Deutschland
    </address>
    </p>
    <p>Beim Aufruf meiner Website werden werden deine IP-Adresse, die Referrer-URL, Betriebssystem, Browser inkl.
        Version an meinen Hoster übermittel. Dabei enstehen ferner Metadaten wie der Zeitpunkt des Aufruf, die
        aufgerufene URL, Erfolgs- oder Fehlermeldung und übertragene Datenmenge. Mein Hoster nutzt diese Daten lediglich
        zur Verarbeitung deiner Anfrage meiner Website. Eine Speicherung nach Abschluss der Anfrage erfolgt nicht, es
        werden keine Logfiles geschrieben.</p>
</div>

<div class="text-section">
    <h2 class="text-section__sub-heading">Welche Rechte habe ich?</h2>
    <p>Dir steht das Recht auf Auskunft zu, über die Daten die ich bzgl. deiner Person gespeichert habe.</p>
</div>


<div class="text-section">
    <h2 class="text-section__sub-heading">Warum gibt es kein Cookie Banner?</h2>
    <p>Diese Website verwendet keine Cookies 🍪. Ferner nutze ich keine US-Drittanbieter 🇺🇸 innerhalb dieser Website.</p>
</div>
