---
layout: base_layout
title: Imprint
---

<div class="contact">
  <div class="container container--narrow container--vertical">
    <h1>Imprint</h1>
    <p>Contact:</p>
    <address>
      Kilian Finger<br>
      <br>
      Georg-Nikolaus-von-Nissen-Straße 6<br>
      5020 Salzburg<br>
      Österreich<br>
      <br>
      <a href="mailto:hey@kilianfinger.com">hey@kilianfinger.com</a><br>
      <br>
      USt-IdNr.: AT U77 061 108
    </address>
  </div>
</div>
