---
layout: legal_layout
title: Impressum
---

<div class="text-section">
    <h1 class="text-section__heading">Impressum</h1>

    <p>Betreiber und Verantwortlicher für diese Website:</p>

    {% set includeVatId = true %}
    {% include "address.njk" %}
</div>
