---
layout: layouts/legal
title: Imprint
---

<section class="text-section">
  <h1 class="text-section__heading">Imprint</h1>

  <p>Responsible for this website:</p>

  {% set includeVatId = true %}
  {% include "address.njk" %}
</section>
