---
layout: base_layout
title: Impressum
backHomeLink: true
---

<div class="legal">
    <div class="container container--narrow container--vertical">
        {% include "home-link.njk" %}

        <div class="text-section">
            <h1 class="text-section__heading">Impressum</h1>
            <p>Betreiber und Verantwortlicher für diese Website:</p>
            <address>
                <strong>Kilian Finger</strong><br />
                Georg-N.-v.-Nissen-Str. 6<br />
                5020 Salzburg<br />
                Österreich<br />
                <br>
                <a href="mailto:hey@kilianfinger.com">hey@kilianfinger.com</a><br/>
                <br />
                USt-IdNr.: AT U77 061 108
            </address>
        </div>
    </div>
</div>
