---
layout: base_layout
namespace: home
---

<div class="boxed">
    <div class="container">
        <div class="intro">
            <div class="intro__text">
                <h1 class="intro__name">Kilian <span>Finger</span></h1>
                <h2 class="intro__title">Full Stack Developer</h2>
            </div>

            <div class="intro__portrait-wrapper js-intro-portrait">
                {% image { src: "home/kilian_2.jpeg", alt: "Kilian Finger", class: "intro__portrait intro__portrait--2", sizeType: "portrait", loading: "eager" } %}
                {% image { src: "home/kilian_1.jpeg", alt: "Kilian Finger", class: "intro__portrait intro__portrait--1", sizeType: "portrait" } %}
                {% image { src: "home/kilian_3.jpeg", alt: "Kilian Finger", class: "intro__portrait intro__portrait--3", sizeType: "portrait" } %}
            </div>
        </div>
    </div>
</div>

<div class="about">
    <div class="container container--narrow container--vertical">
        <h3 class="h2">Hey there</h3>
        <p>I'm Kilian 👨🏼‍💻 a full stack developer from Germany 🇩🇪 currently based at the foot of the alps in
            Salzburg,
            Austria 🇦🇹. After my Bachelor of Science in Cologne I worked a few years as a full stack developer at a
            digital agency. Now I'm finishing my Master of Science in Salzburg and work at a mobility consultancy to
            improve sustainable development by building web applications and native apps.</p>
    </div>
</div>

<section class="projects">
    <div class="container container--narrow container--vertical js-projects">
        <h2 class="underline-heading">Projects</h2>

        <div class="projects__items">
            <a href="/projects/radlkarte-salzburg/" class="projects__item project--radlkarte-salzburg">
                {% image { src: "home/radlkarte-salzburg.png", alt: "Radlkarte Salzburg", class: "projects__item-image", sizeType: "projectsCover" } %}

                <h3 class="projects__item-heading">Radlkarte Salzburg</h3>
            </a>

            <a href="/projects/koeln-marathon/" class="projects__item project--koeln-marathon">
                {% image { src: "home/koeln-marathon.png", alt: "Köln Marathon", class: "projects__item-image", sizeType: "projectsCover" } %}


                <h3 class="projects__item-heading" style="">Köln Marathon</h3>
            </a>

            <a href="/projects/flexpowerhub/" class="projects__item project--flexpowerhub">
                {% image { src: "home/flexpowerhub.png", alt: "FlexPowerHub", class: "projects__item-image", sizeType: "projectsCover" } %}

                <h3 class="projects__item-heading">FlexPower&shy;Hub</h3>
            </a>
        </div>
    </div>
</section>

<section>
    <div class="container container--narrow container--vertical">
        <h2 class="underline-heading">Technologies</h2>

        {% include 'technologies.njk' %}

        <p>These are technologies I'm fond of. I'm always open to dive into something new. But when starting on a green
            field, I will focus on these, which allow me to build resilient solutions for you.</p>
    </div>
</section>

<section class="contact">
    <div class="container container--narrow container--vertical">
        <h2>Contact</h2>
        <a href="mailto:hey@kilianfinger.com">hey@kilianfinger.com</a>
    </div>
</section>
