---
layout: base_layout
---

<div class="boxed">
    <div class="container">
        <div class="intro">
            <div class="intro__text">
                <h1 class="intro__name">Kilian <span>Finger</span></h1>
                <h2 class="intro__title">Webentwickler</h2>
            </div>

            <div class="intro__portrait-wrapper js-intro-portrait">
                <div class="intro__portrait-canvas">
                    {% image { src: "home/kilian_2.jpeg", alt: "Kilian Finger", class: "intro__portrait is-visible", sizeType: "portrait" } %}
                    {% image { src: "home/kilian_1.jpeg", alt: "Kilian Finger", class: "intro__portrait is-hidden", sizeType: "portrait" } %}
                    {% image { src: "home/kilian_3.jpeg", alt: "Kilian Finger", class: "intro__portrait is-hidden", sizeType: "portrait" } %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about">
    <div class="container container--narrow container--vertical">
        <h3 class="h2">Hey!</h3>
        <p>Mein Name ist Kilian, ich bin Webentwickler mit Standort in Salzburg, Österreich 🇦🇹. Mein Interesse an der
            Entwicklung von Websites, Plattformen und Apps begann während meines Bachelors Medientechnologie in Köln.
            Nach dreijähriger Agenturerfahrung bei <a href="https://pooliestudios.com/">pooliestudios</a>
            folgte das Masterstudium MultiMediaTechnology in Salzburg 👨🏼‍💻. Nun beschäftige ich mich bei
            <a href="https://www.trafficon.eu/">Trafficon</a> mit der Förderung von
            nachhaltiger Mobilität und der Entwicklung von digitalen Mobilitätslösungen 🗺.</p>
    </div>
</div>

<section class="projects" id="projekte">
    <div class="container container--narrow container--vertical js-projects">
        <h2 class="underline-heading"><span>Projekte</span></h2>

        <div class="projects__items">
            {% for project in projects %}
                <a href="/projekte/{{ project.slug }}/" class="projects__item theme-color--{{ project.slug }}">
                    <div class="projects__item-image-wrapper">
                        {% image { src: "home/"~project.slug~".png", alt: project.title, class: "projects__item-image", sizeType: "projectsCover" } %}
                    </div>

                    <h3 class="projects__item-heading">{{ project.title | safe }}</h3>
                </a>
            {% endfor %}
        </div>
    </div>
</section>

<section>
    <div class="container container--narrow container--vertical">
        <h2 class="underline-heading"><span>Technologien</span></h2>

        {% set technologiesClass = "technologies--margin-bottom" %}
        {% include 'technologies.njk' %}

        <p>
            Mit diesen Technologien fühle ich mich besonders wohl. Dabei bin ich immer offen für etwas Neues. Für jedes
            Projekt entscheide ich dabei, welche Technologien zur bestmöglichen Lösung beitragen.
        </p>
    </div>
</section>

<section class="contact">
    <div class="container container--narrow container--vertical">
        <h2>Kontakt</h2>
        <a class="contact__mail" href="mailto:hey@kilianfinger.com">hey@kilianfinger.com</a>

        <div class="contact__social-links">
            <a class="contact__social-link" title="LinkedIn" href="https://www.linkedin.com/in/kilianfinger/">
                <img class="contact__social-link-icon" alt="LinkedIn" src="assets/icons/linkedin.svg" />
            </a>
            <a class="contact__social-link" title="Twitter" href="https://twitter.com/KiwiKilian">
                <img class="contact__social-link-icon" alt="Twitter" src="assets/icons/twitter.svg" />
            </a>
            <a class="contact__social-link" title="Instagram" href="https://www.instagram.com/KiwiKilian/">
                <img class="contact__social-link-icon" alt="Instagram" src="assets/icons/instagram.svg" />
            </a>
        </div>
    </div>
</section>
