---
layout: layouts/legal
title: Privacy
---

<section class="text-section">
  <h1 class="text-section__heading">Privacy</h1>
  <p>
    I personally care about privacy a lot. Therefore I have made many technical efforts, to collect and store as little
    data as possible from you. The following privacy policy is more about clear and understandable words than legal
    bullshit. If you still have questions, just contact me!
  </p>
</section>

<section class="text-section">
  <h2 class="text-section__sub-heading">Who is responsible for data processing?</h2>
  <p>As the operator of this website, I'm responsible for the processing of your data:</p>

  {% include "address.njk" %}
</section>

<section class="text-section">
  <h2 class="text-section__sub-heading">What data do you and third parties process?</h2>
  <p>My website is hosted by:</p>
  <address>
    <strong>ALL-INKL.COM - Neue Medien Münnich</strong><br />
    Owner: René Münnich<br />
    Hauptstraße 68<br />
    02742 Friedersdorf<br />
    Germany
  </address>
  <p>
    When you access my website, your IP address, operating system, browser including version, requested URL and the
    referrer URL are transmitted to my hosting provider. This also creates metadata such as a timestamp of the request,
    success or error message and the amount of data transferred. This data is only available during the processing your
    request of my website. A storage after the completion of each request is not happening, no logfiles are written. A
    visit to a website without processing of this data for at least a fraction of a second is simply not possible, as
    it's required by technical standards.
  </p>
</section>

<section class="text-section">
  <h2 class="text-section__sub-heading">Why is my data processed?</h2>
  <p>
    On the one hand, I have a legitimate interest for processing your data, as I want to offer and market my services on
    this website. As a web developer, a presence on the web is indispensable. On the other hand, it may be necessary for
    the fulfillment of contractual obligations.
  </p>
</section>

<section class="text-section">
  <h2 class="text-section__sub-heading">What rights do I have?</h2>
  <p>
    Since I collect or process personal data from you when you visit my website, the following rights are applicable
    through GDPR:
  </p>

  <ul class="list">
    <li class="list__item">Access to collected data (including purpose, duration, origin etc.)</li>
    <li class="list__item">Rectification of false data</li>
    <li class="list__item">Erasure of data</li>
    <li class="list__item">Restriction of processing of collected data</li>
    <li class="list__item">Withdrawal from data processing</li>
    <li class="list__item">Right to data portability</li>
  </ul>

  <p>These rights exist, even though I do not permanently store your data when you visit my website, see section 2.</p>
</section>

<section class="text-section">
  <h2 class="text-section__sub-heading">Why is there no cookie banner?</h2>
  <p>This website does not use cookies 🍪.</p>

  <button class="cookie-button js-cookies">Gimme some</button>
  <script async defer type="module" src="{{ '/assets/scripts/cookies.js' | url }}"></script>
</section>
