---
layout: project_layout
title: Cologne Marathon App
projectSlug: cologne-marathon
themeColor: '#d53741'
projectAttribution: pooliestudios
---


<p>
    For the 2018 and 2019 edition of the Cologne Marathon 🏃‍♀️🏃 a custom app was developed. It includes all functionalities
    for runners and bystanders alike 📱. Features reach from tracking of runners and there current leaderboard position, challenges with
    others as well as personalized results, badges and more. On the day of the run, it successfully scaled to tens of
    thousands of runners and fans.
</p>
