---
layout: project_layout
title: FlexPowerHub
projectSlug: flexpowerhub
themeColor: '#79ca32'
---

<p>
    Bei FlexPowerHub handelt es sich um eine Onlineplattform für den Energiehandel. Sie bietet für professionelle
    Anwender*innen individuelle Einsichten in den Energiemarkt. Hierfür wurden Interfaces und Dashboards mit React
    entwickelt und Datenvisualisierungen mit D3.js realisiert.
</p>
