---
layout: layouts/project
title: FlexPowerHub
projectSlug: flexpowerhub
themeColor: '#79ca32'
---

<p>
    FlexPowerHub is platform for energy trading ⚡️📈. It offers professionals insights into the energy market. The
    platform consists of dashboards, visualizing data using D3.js. A form wizard allows bidding on the energy market
    which is supported by forecast prices.
</p>
