<style>
    .root {
        width: 100%;
        height: 100%;
        flex-grow: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 32px solid white;
        background-color: {{ themeColor }};
        color: #ffffff;
        gap: 80px;
        padding: 0 80px;
    }

    .title {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
    }

    .title__main {
        display: flex;
        flex-direction: column;
        font-family: 'Gilroy', sans-serif;
        font-weight: 900;
        font-size: 64px;
        line-height: 64px;
        text-transform: uppercase;
    }

    .title__sub {
        font-family: 'Silka', sans-serif;
        font-weight: 400;
        font-size: 30px;
        margin-top: 8px;
    }

    .image {
        width: 440px;
        height: 440px;
        object-fit: contain;
    }
</style>

<div class="root">
    <div class="title">
        <div class="title__sub">kilianfinger.com/{{ page.url.split("/")[1] }}/</div>
        <div class="title__main">{{ title }}</div>
    </div>

    <img class="image"
         width="{{ projectImage.width }}" height="{{ projectImage.height }}"
         src="{% inlineImage "assets/images/projects/" ~ projectSlug ~ ".og.png" %}"
         style="{{ projectImage.style }}"
    />
</div>
