---
layout: project_layout
title: Radlkarte Salzburg
projectSlug: radlkarte-salzburg
themeColor: '#00aeea'
projectAttribution: trafficon
---

<p>
    Radlkarte Salzburg is a web application for calculating bicycle routes in the state of Salzburg 🇦🇹. As a project
    of the municipality and state government it has the best knowledge to guide you on the safest and fastest routes 🚲.
    Locations of repair stations, tube dispensers and bike stores are displayed for your daily cycling
    needs. And the rain radar helps to reach the destination dry🌦️.
</p>
