---
layout: project_layout
title: Radlkarte Salzburg
projectSlug: radlkarte-salzburg
themeColor: '#00aeea'
projectAttribution: trafficon
---

<p>
    Die Radlkarte Salzburg ist eine Webanwendung zur Berechnung von Fahrradrouten im Bundesland Salzburg 🇦🇹. Als
    Kooperation von Stadt und Land Salzburg verfügt sie über das beste Wissen, um ihre Nutzer*Innen auf den sichersten
    und schnellsten Routen zu navigieren. Als Rundumpaket werden für Radler*innen relevante Standorte von
    Reparaturstationen, Schlauchautomaten und Fahrradläden dargestellt. Das Regenradar hilft dabei, trocken ans Ziel zu
    kommen.
</p>
