---
layout: base_layout
namespace: projects/radlkarte
title: Radlkarte Salzburg
---

<div class="project-intro project-intro--radlkarte">
    {% image "radlkarte-mockup.png", "Radlkarte Salzburg", "", "project-intro__image" %}
    <h1 class="project-intro__heading">Radlkarte Salzburg</h1>
</div>

<div class="container container--narrow container--vertical">
    <p>Radlkarte Salzburg is a bike routing web application in the country of Salzburg 🇦🇹. The Radlkarte helps to
        find the safest and fastest bikepaths around the Salzkammmergut. It also offers handy information like
        self-repair-stations, tire vending machines and bike shops. As the weather has a big impact on cycling there
        is also a rain radar with up to two hours forecast.</p>
</div>


<div class="container container--vertical">
    <div class="project-attribution">
        <p class="project-attribution__label">A project of</p>
        <a href="https://www.trafficon.eu/"><img class="project-attribution__image" alt="Trafficon" src="/assets/images/trafficon.svg" /></a>
    </div>
</div>



